@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic');

html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  font-family: 'Roboto Slab', serif;
  height: 100%;
  background-color: black;
  position: relative;
}

/* Sticky footer and header styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.navbar {
	text-transform: uppercase;
}

.nav-link {
    padding: 0px 10px 0px 10px;
}

.bg-faded {
    background-color: #282828;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color: #DEC328;
}

.nav-center {
	justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #DEC328;
}

.navbar {
    padding: .8rem 1rem;
}

/* Custom page CSS
-------------------------------------------------- */
body > .block-1 {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*BLOCKS*/
.block-1 {
	background-image: url(../images/1.jpg);
	height: 100%;
	width: 100%;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.block-2 {
	background-color: black;
	color: white;
	font-weight: 300;
}

.block-3 {
	padding-top: 50px;
	background-color: #282828;
	padding-bottom: 70px;
}

.block-4 {
	background-color: black;
}

.block-5 {
	background-color: #282828;
	color: white;
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

.block-2-1 {
	width: 100%;
	color: white;
    background-color: #393939;
}

.block-2-1-title {
	background-color: #282828;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;
}

/*Buttons*/
.button-block-3 {
	color: white;
	font-size: 2rem;
	border: 5px solid white;
	width: 350px;
	height: 80px;
	padding-top: 10px;
}

.button-div-block-3 {
	text-align: center;
}

.button-div-block-3:hover, .button-div-block-3:active, .button-block-3:hover, .button-block-3:active {
	color: #DEC328;
	text-decoration: none; 
	border-color: #DEC328;
}


.button-center {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

/*Detail*/
.prof {
	color: #DEC328;
}

.main-text {
	text-align: center;
	padding-top: 22%;
}

.main-text h1 {
	font-size: 3.5rem;
}

.describe-block-2 {
	padding-top: 10%;
}

.clear-col {
	padding-right: 0px;
	padding-left: 0px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title-block-5 {
	text-align: center;
	font-weight: 300;
	padding-bottom: 30px;
}

.min-title-b-5 {
	font-weight: 100;
}

.icon {
	color: white;
	font-size: 3rem;
}

.icon:hover, .icon:focus, .icon:active {
	color: #DEC328;
}

.contacts {
	text-align: right;
}

.contacts a {
	color: #DEC328;
}

.row-img {
	margin-left: 0;
	margin-right: 0;
}

.block-2-1-title p {
	color: #DEC328;
	font-weight: 300;
}

.block-2-1-title a {
	color: white;
}

/*videos*/
.video-frame {
	border: 1px solid #282828;
	padding-right: 0;
	padding-left: 0;
}

.videos-div {
	padding-top: 50px;
	padding-bottom: 30px;
}

.videos-row {
	padding-bottom: 20px;
}

/*Mobile*/
@media (max-width: 650px) {
	.img-about {
		display: none;
	}
	.button-block-3 {
		color: white;
		font-size: 2rem;
		border: 5px solid white;
		width: 300px;
		height: 80px;
		padding-top: 10px;
	}
	.contacts {
		text-align: center;
		padding-top: 20px;
	}
	.main-text {
    	padding-top: 30%;
	}
	.block-2-1-title {
	    padding-top: 40px;
	}
	.video-frame {
		height: 215px;
	}
	.videos-row {
		padding-bottom: 0px;
	}
	.vid {
		padding-bottom: 10px;
	}

}